<!DOCTYPE html>
<html>
<head>
  <title>IdeasFactory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="header">
    <%= link_to "Home", root_path %>
    |
    <%= link_to "New Idea", new_idea_path %>
    <hr>
  </nav>

  <%= flash[:notice] || flash[:alert] %>

<%= yield %>

</body>
</html>
